<h1> <%= @user.email %>'s Profile </h1>
<p> Something! </p>

<h3> You have eaten: </h3>
<ul>
  <% @user.consumptions.each do |consumption| %>
    <li> <%= consumption.food.name %></li>
  <% end %>
</ul>
<%= render :partial => 'consumptions/form', locals: {:@user => @user, :@consumption => @user.consumptions.new, :@foods => Food.all }%>
