<h1> <%= @user.email %>'s Profile </h1>

<h3> You have eaten: </h3>
<ul id = "eaten_foods_list">
  <% @user.consumptions.each do |consumption| %>
    <li> <%= consumption.food.name %></li>
  <% end %>
</ul>
<%= render :partial => 'consumptions/form', locals: {:@user => @user, :@consumption => @user.consumptions.new, :@foods => Food.all }%>

<div id="add_food_link">
  <%= link_to "Add a new food", new_food_path, remote: true %>
</div>
