
<h3>Here are some foods available in our app:</h3>
<% if @foods.any? %>
<ul class="list-group">
  <% @foods.each do |food| %>
    <li class="list-group-item"><%= food.name %></li>
  <% end %>
</ul>
<% else %>
  <p> No foods yet. </p>
<% end %>
